
.rent-properties {
  display: flex;         
  gap: 20px;              
  width: 100%;
  min-height: 70vh;     
  background-color: aquamarine;
  padding: 20px;         
}


.filter-sidebar {
  flex: 0 0 350px;       
  background-color: azure;
  padding: 15px;
  border-radius: 8px;
}

.cards-section {
  flex: 1;                
  background-color: blue;
  padding: 15px;
  border-radius: 8px;
}
